@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  --black: #02111B;
  --pink: #DD9296;
  --grey: #717C89;
  --blue: #BEE7E8;
  --white: #FFFFFF;
}

.about-container {
  display: grid;
  grid-template-columns: 2;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.about-content {
  width: 60vw;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 5rem;
  text-align: center;
}

section {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  text-align: justify;

  margin-bottom: 15vh;
}
