@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  --black: #02111B;
  --pink: #DD9296;
  --grey: #717C89;
  --blue: #BEE7E8;
  --white: #FFFFFF;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, auto);

  text-align: center;
  align-items: center;
  justify-content: space-evenly;

  min-height: 10vh;
  max-height: fit-content;

  background-color: pink;
  list-style-type: none;
  font-family: 'Fredoka One', cursive;

  a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 470px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    min-width: 100vw;
  }
}

// Footer
.footer {
  background-color: var(--blue);

  min-height: 5vh;
  max-height: fit-content;
  width: 100%;

  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: end;

  .footer-text {
    margin-right: 20px;
    font-style: italic;
  }
}
