@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  --black: #02111B;
  --pink: #DD9296;
  --grey: #717C89;
  --blue: #BEE7E8;
  --white: #FFFFFF;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.all-projects {
  h2 {
    font-size: 2rem;
  }

  section {
    min-height: fit-content;
    margin: 5%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;

    h3 {
      font-size: 1.2rem;
    }

    @media (max-width: 1023px) {
      display: flex;
      flex-direction: column;
    }
  }
}

.project-link-icons {
  img {
    height: 30px;
    width: 30px;
    padding-right: 2%;
  }

  .github-icon {
    height: 33px;
    width: 33px;
  }
}

.image-gallery-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
