@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  --black: #02111B;
  --pink: #DD9296;
  --grey: #717C89;
  --blue: #BEE7E8;
  --white: #FFFFFF;
}

nav {
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: pink;
  list-style-type: none;
  font-family: 'Fredoka One', cursive;
  align-items: center;

  li {
    font-size: 1.5rem;
    margin: 2%;
  }

  a {
    text-decoration: none;
    color: var(--black);
  }

  a:hover {
    text-decoration: underline;
  }

  div {
    font-size: 1.2rem;
  }
}
